    
    <ul class="tabs primary"><li><a href="/user/login" data-drupal-link-system-path="user/login" >Log in<span class="visually-hidden">(active tab)</span></a></li>
      <li><a href="/user/register" data-drupal-link-system-path="user/register" class="is-active">Create new account</a></li>
      <li ><a href="/user/password" data-drupal-link-system-path="user/password">Reset your password</a></li>
</ul>
  <div class="register-wrapper">
  <p>{{ 'If you\'re new to Movies Mania, you can create a new account to unlock a world of cinematic experiences. Fill in the required information below and start exploring the exciting world of movies!' | t }}</p>

  <form{{ attributes }}>
    
      {{ children }}
    </form>
 </div>    

