<ul class="tabs primary"><li class="is-active"><a href="/user/login" data-drupal-link-system-path="user/login" class="is-active">Log in<span class="visually-hidden">(active tab)</span></a></li>
<li><a href="/user/register" data-drupal-link-system-path="user/register">Create new account</a></li>
<li><a href="/user/password" data-drupal-link-system-path="user/password">Reset your password</a></li>
</ul>
<div class="login-wrapper">

<p>{{ 'If you\'re a registered member, please enter your username or email address and password to access your account. If you\'re new to Movies Mania, you can create a new account to get started on your cinematic journey.' | t }}</p>
<form{{ attributes }}>
   {{ children }}
</form>
</div>
