<header aria-label="Site header" class="header" id="header" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        {{ page.branding }}
      </div>
      <div class="col-md-9">
        {{ page.navigation }}
      </div>
    </div>
  </div>
</header>